{% extends "base.html" %}
{% block content %}

<h1 class="title">UAE Bank Statement Converter</h1>

<div class="button-grid">
    <a class="btn" href="/emirates">Emirates NBD</a>
    <a class="btn" href="/wio">Wio Bank</a>
    <a class="btn" href="/rakbank">RAK Bank</a>
    <a class="btn" href="/dib">DIB</a>
    <a class="btn" href="/misr">Bank Misr</a>
    <a class="btn" href="/adcb1">ADCB Format 1</a>
    <a class="btn" href="/adcb2">ADCB Format 2</a>
    <a class="btn" href="/adcb_cc">ADCB Credit Card</a>
    <a class="btn" href="/mashreq">Mashreq Bank</a>
    <a class="btn" href="/emirates2">Emirates NBD Format 2</a>

</div>

{% endblock %}
